<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lettre d'amour</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <img class="share" src="/share.svg" alt="share">
    <div class="container">
        <h1 class="title">{{ title }}</h1>
        <div class="text">{{ message }}</div>
    </div>
</body>
</html>