html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F6676E;
}

* {
    box-sizing: border-box;
}


body {
    background: url('./bg.png') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Just Another Hand', cursive;
    position: relative;
}

h1.title {
    color: #C23746;
    font-size: 3.2em;
    margin: 0;
}

.text {
    color: #F6676E;
    font-size: 2.2em;
    margin-top: 25px;
    margin-left: 5%;
    letter-spacing: 1px;
}

.container {
    padding: 180px 20%;
    padding-bottom: 0;
}

#share-btn {
    position: absolute;
    bottom: 60px;
    right: 40px;
    width: 20px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    font-size: 24px;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
