html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F6676E;
}

* {
    box-sizing: border-box;
}


body {
    background: url('./bg.png') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Just Another Hand', cursive;
    position: relative;
}

h1.title {
    color: #C23746;
    font-size: 3.2em;
    margin: 0;
}

.text {
    color: #F6676E;
    font-size: 2.2em;
    margin-top: 25px;
    margin-left: 5%;
    letter-spacing: 1px;
}

.container {
    padding: 180px 20%;
    padding-bottom: 0;
}

#share-btn {
    position: absolute;
    bottom: 60px;
    right: 40px;
    width: 20px;
}
